
    <footer class="footer-main">
        <div class="container clearfix">
            <div class="footer-main__col">
                <ul class="nav-foot-cols">
                    <li class="nav-foot-cols__item">
                        <p class="nav-foot-hl">Компания</p>
                        <ul class="nav-foot">
                            <li class="nav-foot__item" id="bx_3018495323_1297404"><a href="https://leroymerlin.ru/about/" class="nav-foot__link">Наша компания</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297405"><a href="https://leroymerlin.ru/brands/" class="nav-foot__link">Наши марки</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297406"><a href="https://leroymerlin.ru/partner/" class="nav-foot__link">Как стать поставщиком</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297407"><a href="https://leroymerlin.ru/advance/" class="nav-foot__link">Развитие сети</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297408"><a href="http://rabota.leroymerlin.ru/" class="nav-foot__link">Наши вакансии</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297409"><a href="https://leroymerlin.ru/contact/" class="nav-foot__link">Контакты</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297410"><a href="https://leroymerlin.ru/policy_pers_data/" class="nav-foot__link">Политика обработки персональных данных</a></li>
                        </ul>
                    </li>
                    <li class="nav-foot-cols__item">
                        <p class="nav-foot-hl">Услуги розничного магазина</p>
                        <ul class="nav-foot">
                            <li class="nav-foot__item" id="bx_3018495323_1297412"><a href="https://leroymerlin.ru/service/dostavka/" class="nav-foot__link">Доставка</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297413"><a href="https://leroymerlin.ru/service/vozvrat_tovara/" class="nav-foot__link">Возврат товара</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297414"><a href="https://leroymerlin.ru/service/kredit/" class="nav-foot__link">Кредит</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297415"><a href="https://leroymerlin.ru/service/rezka/" class="nav-foot__link">Резка дерева и стекла</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297416"><a href="https://leroymerlin.ru/service/kolerovka/" class="nav-foot__link">Колеровка</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297417"><a href="https://leroymerlin.ru/service/overlok/" class="nav-foot__link">Оверлок</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297418"><a href="https://leroymerlin.ru/service/poshiv_shtor/" class="nav-foot__link">Пошив штор</a></li>
                        </ul>
                        <ul class="nav-foot">
                            <li class="nav-foot__item" id="bx_3018495323_1297419"><a href="https://leroymerlin.ru/service/servisnyy_tsentr/" class="nav-foot__link">Сервисный центр</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297420"><a href="https://leroymerlin.ru/service/punkt_proverki_tekhniki/" class="nav-foot__link">Проверка техники</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297421"><a href="https://leroymerlin.ru/service/ustanovka/" class="nav-foot__link">Установка</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297422"><a href="https://leroymerlin.ru/service/korporativnym_klientam/" class="nav-foot__link">Обслуживание корпоративных клиентов</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1939012"><a href="https://leroymerlin.ru/diyschool/" class="nav-foot__link">Школа ремонта</a></li>
                        </ul>
                    </li>
                    <li class="nav-foot-cols__item">
                        <p class="nav-foot-hl">Интернет-магазин</p>
                        <ul class="nav-foot">
                            <li class="nav-foot__item" id="bx_3018495323_1297423"><a href="https://leroymerlin.ru/basket/how_to_order.php" class="nav-foot__link">Как заказать</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297424"><a href="https://leroymerlin.ru/basket/how_to_pay.php" class="nav-foot__link">Как оплатить</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297425"><a href="https://leroymerlin.ru/basket/delivery/" class="nav-foot__link">Доставка</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297426"><a href="https://leroymerlin.ru/feedback/" class="nav-foot__link">Клиентская поддержка</a></li>
                            <li class="nav-foot__item" id="bx_3018495323_1297427"><a href="https://leroymerlin.ru/faq/" class="nav-foot__link">Вопросы и ответы</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </footer>