    <div class="promo">
        Низкие цены каждый день
    </div>
    <div class="header">
        <div class="container">
            <div class="flex-container">
                <div class="logo">
                    <a class="logo-link" href="#">
                        <img src="/images/logo/logo.png" alt="Logo">
                    </a>
                    <div class="categories">
                        <a href="#" class="main-cat-title">Показать все категории</a>
                        <ul class="categories-2">
                            <li>
                                <a href="#" class="title">Подкатегория 1</a>
                                <ul class="categories-3">
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="title">Подкатегория 1</a>
                                <ul class="categories-3">
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#" class="title">Подкатегория 1</a>
                                <ul class="categories-3">
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="title">Подкатегория 1</a>
                                <ul class="categories-3">
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#" class="title">Подкатегория 1</a>
                                <ul class="categories-3">
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Подподкатегория 1</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="search">
                    <form action="">
                        <input type="text" class="search-field" placeholder="Поиск...">
                        <select name="" id="" class="search-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="101">101</option>
                        </select>
                        <input type="button" class="search-button" value="Поиск">
                    </form>
                </div>
            </div>
            <ul class="menu">
                <li>
                    <a href="#">Категория 1</a>
                    <div class="menu-content clearfix">
                        <div class="left clearfix">
                            <div class="col">
                                <h4>Топ категории</h4>
                                <ul>
                                    <li>
                                        <a href="#">Топ 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Топ 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Топ 3</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <h4>Что лучше?</h4>
                                <ul>
                                    <li><a href="">Нет это 1</a></li>
                                    <li><a href="">Нет это 2</a></li>
                                    <li><a href="">Нет это 3</a></li>
                                    <li><a href="">Нет это 4</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="right">
                            <img src="/images/test.jpg" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">Категория 2</a>
                    <div class="menu-content clearfix">
                        <div class="left clearfix">
                            <div class="col">
                                <h4>Топ категории</h4>
                                <ul>
                                    <li>
                                        <a href="#">Топ 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Топ 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Топ 3</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <h4>Что лучше?</h4>
                                <ul>
                                    <li><a href="">Нет это 1</a></li>
                                    <li><a href="">Нет это 2</a></li>
                                    <li><a href="">Нет это 3</a></li>
                                    <li><a href="">Нет это 4</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="right">
                            <img src="/images/test.jpg" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">Категория 3</a>
                    <div class="menu-content clearfix">
                        <div class="left clearfix">
                            <div class="col">
                                <h4>Топ категории</h4>
                                <ul>
                                    <li>
                                        <a href="#">Топ 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Топ 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Топ 3</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <h4>Что лучше?</h4>
                                <ul>
                                    <li><a href="">Нет это 1</a></li>
                                    <li><a href="">Нет это 2</a></li>
                                    <li><a href="">Нет это 3</a></li>
                                    <li><a href="">Нет это 4</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="right"></div>
                    </div>
                </li>
                <li>
                    <a href="#">Категория 4</a>
                    <div class="menu-content clearfix">
                        <div class="left clearfix">
                            <div class="col">
                                <h4>Топ категории</h4>
                                <ul>
                                    <li>
                                        <a href="#">Топ 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Топ 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Топ 3</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <h4>Что лучше?</h4>
                                <ul>
                                    <li><a href="">Нет это 1</a></li>
                                    <li><a href="">Нет это 2</a></li>
                                    <li><a href="">Нет это 3</a></li>
                                    <li><a href="">Нет это 4</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="right">
                            <img src="/images/test.jpg" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">Категория 5</a>
                    <div class="menu-content clearfix">
                        <div class="left clearfix">
                            <div class="col">
                                <h4>Топ категории</h4>
                                <ul>
                                    <li>
                                        <a href="#">Топ 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Топ 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Топ 3</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <h4>Что лучше?</h4>
                                <ul>
                                    <li><a href="">Нет это 1</a></li>
                                    <li><a href="">Нет это 2</a></li>
                                    <li><a href="">Нет это 3</a></li>
                                    <li><a href="">Нет это 4</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="right">
                            <img src="/images/test.jpg" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">Категория 6</a>
                    <div class="menu-content clearfix">
                        <div class="left clearfix">
                            <div class="col">
                                <h4>Топ категории</h4>
                                <ul>
                                    <li>
                                        <a href="#">Топ 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Топ 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Топ 3</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <h4>Что лучше?</h4>
                                <ul>
                                    <li><a href="">Нет это 1</a></li>
                                    <li><a href="">Нет это 2</a></li>
                                    <li><a href="">Нет это 3</a></li>
                                    <li><a href="">Нет это 4</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="right">
                            <img src="/images/test.jpg" alt="">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>