<!DOCTYPE html>
<html lang="en">
<title{{title}}></title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alladin</title>
    <link rel="stylesheet" href="/normalize-css/normalize.css">
    <link rel="stylesheet" href="/fonts/helvetica/helvetica.css">
    <link rel="stylesheet" href="/bxslider-4/dist/jquery.bxslider.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/sass/styles.css">
    <script src="/jquery2/jquery.min.js"></script>
    <script src="/bxslider-4/dist/jquery.bxslider.min.js"></script>

    <!--<script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>-->
    <script src="https://unpkg.com/vue"></script>
</head>
  <body>
    {{> header }}

    {{{ body }}}

    {{> footer }}
  </body>
</html>
