.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  font-size: 1rem;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

.breadcrumb > .active {
  color: #777;
}

.table_row1 {
  border: 1px solid #f5f5f5;
}

.cell3 {
  float: left;
  font-size: 14px;
  color: #6f7591;
  padding: 10px 0px;
  text-align: center;
}

.cell3_2 {
  width: 35%;
  border-right: 1px solid #f5f5f5;
}

.cell3_3 {
  width: 35%;
}

.per {
  color: #6f7591;
  text-transform: lowercase;
  text-decoration: underline;
}

a .per {
  color: #0c54a1;
  text-decoration: none;
  border-bottom: 1px dotted;
}

a .per:hover {
  color: red;
}

.cell4 {
  background: url(/images/zakazok.png) no-repeat;
  background-position: 10px 50%;
  padding: 5px 0px;
  padding-left: 50px;
  border: 1px solid #f5f5f5;
}

a.dost {
  font-size: 14px;
  color: #6f7591;
}

.cell5 {
  font-size: 14px;
  color: #6f7591;
  background: url(/images/oplok.png) no-repeat;
  background-position: 10px 50%;
  padding: 5px 0px;
  padding-left: 50px;
  border: 1px solid #f5f5f5;
}

.cell5 a {
  font-size: 14px;
  color: #0c54a1;
}

.cell5 a:hover, .cell5 a:active {
  font-size: 14px;
  color: #e92E25;
}

.cell6 {
  font-size: 14px;
  color: #6f7591;
  background: url(/images/uslok.png) no-repeat;
  background-position: 10px 50%;
  padding: 5px 0px;
  padding-left: 50px;
  border: 1px solid #f5f5f5;
}

.cell7 {
  font-size: 14px;
  color: #6f7591;
  padding: 10px;
  text-align: center;
}

.cell7_1 {
  float: left;
  text-align: left;
  padding-left: 50px;
  width: 25%;
  background: url(/images/dostok.png) no-repeat;
  background-position: 10px 50%;
  border-right: 1px solid #f5f5f5;
}

.cell7_2 {
  float: left;
  width: 21%;
  border-right: 1px solid #f5f5f5;
}

.cell7_22 {
  float: left;
  width: 32%;
  border-right: 1px solid #f5f5f5;
}

.cell7_3 {
  float: left;
  width: 22%;
}

.table_box {
  text-align: left;
  border: 1px solid #f5f5f5;
  padding: 30px 20px 5px 40px;
  background: #f2f7fd;
}

.kolv {
  font-size: 18px;
  color: #6f7591;
  display: inline-block;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

.textcenter {
  margin: 5px;
  text-align: center;
}

span.kolbox111 {
  margin-left: 20px;
  margin-top: 3px;
  font-size: 12px;
  color: white;
  text-align: center;
  padding-top: 8px;
  display: inline-block;
  height: 34px;
  width: 180px;
  border: 1px solid #fbb631;
  border-radius: 3px;
  background: #f27523;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

span.kolbox111:hover {
  background: #e4640e;
}

span.kolbox111:active {
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-menu > li > a {
  color: #0c54a1;
}

.dropdown-menu > li > a:hover {
  color: #e92E25;
}

.leftml10 {
  margin-left: 10px;
  float: left;
}

.trb td {
  background: #ecf0f1;
}

.product {
  width: 100%;
  border: 1px solid #c7d2d9;
}

.product_left {
  width: 50%;
  position: relative;
  float: left;
  padding-bottom: 40px;
  border-right: 1px solid #c7d2d9;
}

.product_right {
  width: 50%;
  position: relative;
  float: right;
  padding: 10px;
  font-size: 1rem;
  padding-bottom: 40px;
}

.table_row1_product {
  margin: 10px 10px;
  border: 2px solid #0c54a1;
  padding: 10px 10px 15px 10px;
}

.cena1_bold {
  font-size: 22px;
  color: #777;
  display: inline-block;
  min-width: 80px;
  height: 24px;
  margin-right: 5px;
}

.cena1 {
  font-size: 22px;
  color: #da251b;
  display: inline-block;
  background-color: white;
}

.tcena {
  color: #da251b;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.cell1 {
  margin: 10px 10px 0px 0px;
  padding-left: 15px;
  float: left;
  width: 65%;
}

.cell2 {
  float: left;
  width: 32%;
  padding: 7px 2px 2px 8px;
}

hr.from_product {
  margin: 20px 5px;
  border: 0px;
  border-bottom: 1px dotted #777;
}

.img_little {
  width: 140px;
}

.product_art {
  position: absolute;
  background: white;
  top: -12px;
  left: 30px;
  padding: 0px 10px;
}

.product_art1 {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.product_art2 {
  color: #333;
  font-size: 14px;
  padding-right: 10px;
}

.product_izb {
  position: absolute;
  background: white;
  top: -12px;
  right: 30px;
  padding: 0px 10px;
}

.cell3_1 {
  text-align: left;
  padding-left: 50px;
  width: 100%;
  background: url(/images/nalok.png) no-repeat;
  background-position: 10px 50%;
  border-right: 1px solid #f5f5f5;
}

.kolbox_pohoj {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.minus1_pohoj {
  float: left;
  width: 28px;
  height: 28px;
  border: 1px solid #ecf0f1;
  border-right: 0px;
  cursor: pointer;
  background: url("/images/vel/minus_count.png") no-repeat 0px -1px;
}

.minus1_pohoj:hover {
  background: url("/images/vel/minus_count.png") no-repeat 0px -29px;
}

.plus1_pohoj {
  height: 28px;
  width: 28px;
  float: left;
  border: 1px solid #ecf0f1;
  border-left: 0px;
  background: url("/images/vel/plus_count.png") no-repeat 0px -1px;
  cursor: pointer;
}

.plus1_pohoj:hover {
  background: url("/images/vel/plus_count.png") no-repeat 0px -29px;
}

.vall_pohoj {
  float: left;
  width: 55px;
  height: 28px;
}

.vall_pohoj input {
  width: 55px;
  height: 28px;
  text-align: center;
  border: 0px;
  border-top: 1px solid #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
}

.korz {
  position: absolute;
  bottom: 20px;
  display: none;
  text-align: center;
}

.table_title_zakazlist {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ecf0f1;
  padding: 5px;
  background: #ecf0f1;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.table_zakazlist {
  width: 100%;
}

.table_zakazlist td {
  padding: 5px 5px;
  border: 1px solid #777;
}

a span.td {
  color: #333;
  font-size: 13px;
}

a span.td:hover {
  color: #da251b;
}

a span.tdnowrap {
  color: #333;
  font-size: 13px;
  white-space: nowrap;
}

a span.tdnowrap:hover {
  color: #da251b;
}

.td1 {
  font-size: 12px;
  font-weight: bold;
  color: #0c54a1;
  max-width: 200px;
}

.td1 a {
  font-size: 14px;
  font-weight: normal;
  color: #da251b;
  max-width: 200px;
}

.td1 a:hover {
  text-decoration: underline;
}

.lit_red {
  color: #da251b;
  font-size: 12px;
  font-weight: bold;
}

.instagram {
  width: 500px;
  height: 500px;
  position: absolute;
  pointer-events: none;
  z-index: 200;
}

.instagram_title {
  margin: 5px 10px 0px 90px;
  font-size: 22px;
  color: #333;
  font-weight: bold;
  text-align: left;
}

.instagram_right {
  float: right;
  margin: 70px 10px 0px 0px;
  text-align: center;
}

.instagram_dost {
  width: 100px;
  display: inline-block;
  font-size: 16px;
  color: #3598db;
  text-align: center;
}

.instagram_cena {
  margin-top: 5px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 22px;
  color: #da251b;
  font-weight: bold;
  text-align: right;
}

.instagram_kod {
  margin-top: 5px;
  display: inline-block;
  font-size: 14px;
  color: #333;
  text-align: right;
}

.instagram_punkt {
  position: absolute;
  pointer-events: none;
  left: 10px;
  bottom: 10px;
  z-index: 200;
  font-size: 16px;
  color: #3598db;
  text-align: center;
  padding: 10px;
  background: url("/images/trwhite.png");
}

.instagram_logo {
  position: absolute;
  pointer-events: none;
  right: 10px;
  bottom: 10px;
  z-index: 200;
}

.instagram_tel {
  width: 100%;
  display: inline-block;
  font-size: 14px;
  color: #3598db;
  text-align: center;
}

.instagram_info {
  border: 1px solid #ecf0f1;
  padding: 10px;
  background: url("/images/trwhite.png");
}

.fio_mess {
  margin-top: -20px;
  margin-left: 10px;
  float: left;
  width: 200px;
  font-size: 12px;
  color: #da251b;
}

a .pogorodu {
  padding: 2px 10px;
  background: #ecf0f1;
  color: #da251b;
  text-decoration: none;
  border-bottom: 1px dotted;
}

a .pogorodu:hover {
  color: #0c54a1;
}

.clearfix {
  width: 100%;
  max-width: 980px;
  position: relative;
}

.fb-comments {
  width: 100%;
  overflow: hidden;
}

.seek_adm {
  float: right;
  width: 315px;
  margin-left: 20px;
}

#seeker_adm {
  height: 32px;
  width: 250px;
  float: left;
  border: 1px solid #0c54a1;
  border-right: 0px solid;
  font-weight: normal;
}

button#mySeek_adm {
  width: 20px;
  height: 32px;
  border-radius: 0px;
  background: url(/images/vel/naiti.png) no-repeat;
  float: left;
  border: 1px solid #0c54a1;
  border-left: 0px;
  padding-top: 3px;
  padding-left: 50px;
  outline: none;
}

button#mySeek_adm:hover, button#mySeek:active {
  background: url(/images/vel/naiti-kr.png) no-repeat;
  outline: none;
}

.bot_box {
  background: url(/images/vel/box.png) no-repeat 0px 10px !important;
}

.box_kol {
  margin-left: 10px;
  padding: 5px 10px;
  color: #333;
  background: white;
}

.light2 {
  font-size: 16px;
}

.bot_izb, .bot_box {
  margin-left: 10px;
  float: left;
  color: white;
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 50px;
  background: url(/images/vel/heart3.png) no-repeat 0px 10px;
  height: 50px;
  border-right: 1px solid #777;
}

.bot_izb a, .bot_box a {
  color: white;
  border-bottom: 1px solid;
  font-weight: normal;
}

.bot_izb a:hover, .bot_box a:hover {
  color: #da251b;
  border-bottom: 1px solid;
}

a.button2 {
  padding: 8px 30px;
  background-color: #0c54a1;
  color: white;
  font-size: 16px;
  border: 0px;
  margin-left: 30px;
  display: block;
  float: left;
  margin-top: -6px;
  font-weight: normal;
}

a.button2:hover {
  background-color: #da251b;
  color: white;
  border: 0px;
}

a.button2_r {
  padding: 8px 30px;
  background-color: #0c54a1;
  color: white;
  font-size: 16px;
  border: 0px;
  margin-left: 30px;
  display: block;
  float: right;
  margin-top: -6px;
  font-weight: normal;
}

a.button2_r:hover {
  background-color: #da251b;
  color: white;
  border: 0px;
}

.item_row {
  width: 100%;
  mmin-width: 420px;
  padding: 0px 10px;
  border: 1px solid #c7d2d9;
  margin-bottom: 20px;
  min-height: 210px;
  overflow: hidden;
}

.item_row:hover {
  border: 1px solid #0c54a1;
}

.item_img_new {
  position: absolute;
  width: 140px;
  height: 140px;
  top: 5px;
  left: 0;
  background: url("/images/novinka3.png") no-repeat;
  z-index: 100;
  pointer-events: none;
}

.art {
  font-size: 14px;
  color: #777;
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  vertical-align: top;
}

.dostavka {
  font-size: 14px;
  color: #777;
  display: inline-block;
  margin-top: 20px;
}

.art_black {
  font-size: 15px;
  color: #333;
}

.art_blue {
  font-size: 15px;
  color: #01b08c;
}

.desc {
  margin-top: 20px;
}

.desc2 {
  margin-top: 0px;
}

.span_naim1 {
  font-size: 14px;
  color: #777;
}

.span_naim2 {
  font-size: 15px;
  color: #333;
  margin-right: 10px;
}

.cena_box {
  float: left;
  width: 250px;
  padding: 10px 10px 0px 10px;
  height: 100%;
}

.description2 {
  margin-left: 20px;
}

.price {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  color: #0c54a1;
}

.priceok {
  font-size: 20px;
  color: #0c54a1;
  font-weight: bold;
}

.price_skidka {
  font-size: 15px;
  font-weight: normal;
  color: #d11c01;
  text-decoration: line-through;
  margin-left: 10px;
}

span.dos {
  height: 15px;
  width: 100%;
  font-size: 12px;
  color: #01b08c;
  line-height: 14px;
  display: inline-block;
  text-align: center;
  background: url("/images/vel/stop.png") no-repeat 25px 0px;
}

.vall {
  float: left;
  width: 55px;
  height: 28px;
}

.vall input {
  width: 55px;
  height: 28px;
  text-align: center;
  border: 0px;
  border-top: 1px solid #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
}

.box1 {
  float: left;
  padding: 3px 8px;
  margin-top: -8px;
}

.box1_one {
  float: left;
  padding: 3px 8px 3px 10px;
  margin-top: -10px;
}

.minus1 {
  float: left;
  width: 28px;
  height: 28px;
  border: 1px solid #ecf0f1;
  border-right: 0px;
  cursor: pointer;
  background: url("/images/vel/minus_count.png") no-repeat 0px -1px;
}

.minus1:hover {
  background: url("/images/vel/minus_count.png") no-repeat 0px -29px;
}

.plus1 {
  height: 28px;
  width: 28px;
  float: left;
  border: 1px solid #ecf0f1;
  border-left: 0px;
  background: url("/images/vel/plus_count.png") no-repeat 0px -1px;
  cursor: pointer;
}

.plus1:hover {
  background: url("/images/vel/plus_count.png") no-repeat 0px -29px;
}

.box_row {
  margin-top: 10px;
  min-width: 210px;
}

div.kolbox {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.kolbox1 {
  display: inline-block;
  width: 180px;
  padding: 8px 0px;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  background: #ecf0f1 url("/images/vel/box_gr.png") no-repeat 20px 9px;
}

.kolbox1_product {
  display: inline-block;
  width: 180px;
  padding: 8px 0px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  background: #0c54a1 url("/images/vel/box_wh.png") no-repeat 20px 9px;
  color: white;
}

.kolbox1_product:hover {
  background: #da251b url("/images/vel/box_wh.png") no-repeat 20px 9px;
}

.kolbox1_product_items {
  display: inline-block;
  width: 180px;
  padding: 8px 0px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  background: #0c54a1 url("/images/vel/box_wh.png") no-repeat 20px 9px;
  color: white;
}

.kolbox1_product_items:hover {
  background: #da251b url("/images/vel/box_wh.png") no-repeat 20px 9px;
}

.kolbox2 {
  display: inline-block;
  width: 180px;
  padding: 8px 0px;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  background: #ecf0f1;
  margin-top: 10px;
}

.kolbox2_lit {
  display: inline-block;
  width: 180px;
  padding: 8px 0px;
  color: #333;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  background: #ecf0f1;
  margin-top: 10px;
}

.kolbox2_lit:hover {
  background-color: #0c54a1;
  color: white;
}

.kolbox22 {
  display: inline-block;
  width: 180px;
  padding: 8px 0px;
  color: #333;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  background: #ecf0f1;
  margin-top: 10px;
}

.kolbox1:hover {
  background: #0c54a1 url("/images/vel/box_wh.png") no-repeat 20px 9px;
  color: white;
}

.kolbox2:hover {
  background-color: #0c54a1;
  color: white;
}

.kolbox1_list {
  display: inline-block;
  width: 100%;
  padding: 8px 0px;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  background: #ecf0f1 url("/images/vel/box_gr.png") no-repeat 20px 9px;
}

.kolbox1_list:hover {
  background: #0c54a1 url("/images/vel/box_wh.png") no-repeat 20px 9px;
  color: white;
}

.kolbox11_list {
  display: inline-block;
  width: 100%;
  padding: 8px 0px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  background: #0c54a1 url("/images/vel/dell_success.png") no-repeat 20px 6px;
}

.kolbox11_list:hover {
  background-color: #da251b;
  color: white;
}

.kolbox11 {
  display: inline-block;
  width: 180px;
  padding: 8px 0px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  background: #0c54a1 url("/images/vel/box_wh.png") no-repeat 20px 9px;
}

.kolbox11:hover {
  background-color: #da251b;
  color: white;
}

.kolbox11_product {
  display: inline-block;
  width: 180px;
  padding: 8px 0px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  background: #49a242 url("/images/vel/dell_success.png") no-repeat 15px 6px;
}

.kolbox11_product:hover {
  background-color: #da251b;
  color: white;
}

.kolbox11_product_items {
  display: inline-block;
  width: 180px;
  padding: 8px 0px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  background: #49a242 url("/images/vel/dell_success.png") no-repeat 15px 6px;
}

.kolbox11_product_items:hover {
  background-color: #da251b;
  color: white;
}
