<div class="confirm-order">
    <div class="container clearfix">
        <div>
            <h1>Оформление заказа</h1>
        </div>
        <div class="confirm">
            <div class="in">
                <form action="">
                    <div class="form-item">
                        <p class="required">
                            <label for="">Имя<span>*</span></label>
                        </p>
                        <p>
                            <input type="text">
                        </p>
                    </div>
                    <div class="form-item">
                        <p class="required">
                            <label for="">Фамилия<span>*</span></label>
                        </p>
                        <p>
                            <input type="text">
                        </p>
                    </div>
                    <div class="form-item">
                        <p>
                            <label for="">Отчечтво</label>
                        </p>
                        <p>
                            <input type="text">
                        </p>
                    </div>
                    <div class="form-item">
                        <p class="required">
                            <label for="">Мобильный телефон<span>*</span></label>
                        </p>
                        <p>
                            <input type="text">
                        </p>
                    </div>
                    <div class="form-item">
                        <p class="required">
                            <label for="">E-Mail адрес<span>*</span></label>
                        </p>
                        <p>
                            <input type="text">
                        </p>
                    </div>
                    <div class="form-submit">
                        <input type="submit" value="Продолжить">
                    </div>
                </form>
            </div>
        </div>
        <div class="order">
            <div class="in">
                <div>
                    <h2>Ваш заказ</h2>
                </div>
                <div class="good">
                    <div class="title">Цемент жидкий новинка 21 век 2017 год сентябрь</div>
                    <div class="desc">
                        <div class="img">
                            <img src="https://www.smashingmagazine.com/wp-content/uploads/2015/06/10-dithering-opt.jpg" alt="">
                        </div>
                        <div class="amount">
                            <span>1 X 270 руб.</span>
                            <span class="bold">270 руб.</span>
                        </div>
                    </div>
                </div>
                <div class="good">
                    <div class="title">Цемент жидкий новинка 21 век 2017 год сентябрь</div>
                    <div class="desc">
                        <div class="img">
                            <img src="https://www.smashingmagazine.com/wp-content/uploads/2015/06/10-dithering-opt.jpg" alt="">
                        </div>
                        <div class="amount">
                            <span>1 X 270 руб.</span>
                            <span class="bold">270 руб.</span>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <p>Итого <br> товары:</p>
                    <p class="amount">2122 руб.</p>
                </div>
                <div class="return">
                    <a href="#">Вернуться в корзину</a>
                </div>
            </div>
        </div>
    </div>
</div>