
    <link rel="stylesheet" href="/sass/categories.css">
     <div class="container">
        <div class="catalog-redesign-wrapper">
            <h1 class="ttu blk-title">Каталог</h1>

            <div class="left-col">

                <ul class="catalog-left-menu">
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/stroymaterialy/">
                            <div class="cs_name">Стройматериалы</div>
                            <div class="cs_cnt">1638</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/stolyarnye_izdeliya/">
                            <div class="cs_name">Столярные изделия</div>
                            <div class="cs_cnt">2895</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/elektrotovary/">
                            <div class="cs_name">Электротовары</div>
                            <div class="cs_cnt">4138</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/instrumenty/">
                            <div class="cs_name">Инструменты</div>
                            <div class="cs_cnt">3363</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/napolnye_pokrytiya/">
                            <div class="cs_name">Напольные покрытия</div>
                            <div class="cs_cnt">2097</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/plitka/">
                            <div class="cs_name">Плитка</div>
                            <div class="cs_cnt">1523</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/santehnika/">
                            <div class="cs_name">Сантехника</div>
                            <div class="cs_cnt">3099</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/">
                            <div class="cs_name">Водоснабжение</div>
                            <div class="cs_cnt">2615</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/sad/">
                            <div class="cs_name">Сад</div>
                            <div class="cs_cnt">6613</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/skobyanye_izdeliya/">
                            <div class="cs_name">Скобяные изделия</div>
                            <div class="cs_cnt">6575</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/kraski/">
                            <div class="cs_name">Краски</div>
                            <div class="cs_cnt">2199</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/dekor/">
                            <div class="cs_name">Декор</div>
                            <div class="cs_cnt">6634</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/osveshchenie/">
                            <div class="cs_name">Освещение</div>
                            <div class="cs_cnt">2586</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/hranenie/">
                            <div class="cs_name">Хранение</div>
                            <div class="cs_cnt">1657</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://leroymerlin.ru/catalogue/kuhni/">
                            <div class="cs_name">Кухни</div>
                            <div class="cs_cnt">1416</div>
                        </a>
                    </li>
                    <li class="picture">
                        <a href="https://leroymerlin.ru/catalogue/predlozenie_ogranicheno/" style="padding: 10px 0 0 0;">
						<img src="/images/leroy/pl_newcatalog2.png">
					</a>
                    </li>
                </ul>
            </div>
            <div class="right-col">
                <table class="catalog-redesign-sections">
                    <tbody>

                        <tr class="cr-photo-tr">
                            <td data-section-code="stroymaterialy">
                                <img src="/images/leroy/pic27l1c.jpg" alt="Стройматериалы">
                            </td>
                            <td data-section-code="stolyarnye_izdeliya">
                                <img src="/images/leroy/pic28p1v.jpg" alt="Столярные изделия">
                            </td>
                            <td data-section-code="elektrotovary">
                                <img src="/images/leroy/pic29b1p.jpg" alt="Электротовары">
                            </td>
                        </tr>
                        <tr class="cr-middle-space-tr">
                            <td colspan="3"></td>
                        </tr>
                        <tr class="cr-desc-tr">

                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/stroymaterialy/">Стройматериалы</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/suhie_smesi_shtukaturki/#suhie_smesi_shtukaturki">
                                                <div class="cs_name">Сухие смеси, грунтовки</div>
                                                <div class="cs_cnt">182</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/stroitelstvo_sten_i_peregorodok/#stroitelstvo_sten_i_peregorodok">
                                                <div class="cs_name">Строительство стен и перегородок</div>
                                                <div class="cs_cnt">139</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/izolyatsionnye_materialy/#izolyatsionnye_materialy">
                                                <div class="cs_name">Изоляционные материалы</div>
                                                <div class="cs_cnt">110</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/gidroizolyatsiya/#gidroizolyatsiya">
                                                <div class="cs_name">Гидроизоляция</div>
                                                <div class="cs_cnt">77</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/krovlya_i_vodostok/#krovlya_i_vodostok">
                                                <div class="cs_name">Кровля и водосток</div>
                                                <div class="cs_cnt">472</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/vneshnyaya_kanalizatsiya/#vneshnyaya_kanalizatsiya">
                                                <div class="cs_name">Внешняя канализация</div>
                                                <div class="cs_cnt">36</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/sayding_i_fasadnye_paneli/#sayding_i_fasadnye_paneli">
                                                <div class="cs_name">Сайдинг и фасадные панели</div>
                                                <div class="cs_cnt">83</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/dekorativnyy_kamen/#dekorativnyy_kamen">
                                                <div class="cs_name">Декоративный камень</div>
                                                <div class="cs_cnt">54</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/potolki_podvesnye_i_aksessuary/#potolki_podvesnye_i_aksessuary">
                                                <div class="cs_name">Потолки подвесные и аксессуары</div>
                                                <div class="cs_cnt">114</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/kaminy_elektricheskie/#kaminy_elektricheskie">
                                                <div class="cs_name">Камины</div>
                                                <div class="cs_cnt">223</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/metalloprokat/#metalloprokat">
                                                <div class="cs_name">Металлопрокат</div>
                                                <div class="cs_cnt">51</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/plitka_trotuarnaya_i_drenazhnye_kanaly/#plitka_trotuarnaya_i_drenazhnye_kanaly">
                                                <div class="cs_name">Плитка тротуарная и дренажные каналы</div>
                                                <div class="cs_cnt">7</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/rashodnye_materialy/#rashodnye_materialy">
                                                <div class="cs_name">Расходные материалы</div>
                                                <div class="cs_cnt">19</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/stroitelnaya_himiya/#stroitelnaya_himiya">
                                                <div class="cs_name">Строительная химия</div>
                                                <div class="cs_cnt">18</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stroymaterialy/stroitelnoe_oborudovanie/#stroitelnoe_oborudovanie">
                                                <div class="cs_name">Строительное оборудование</div>
                                                <div class="cs_cnt">51</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/#" class="show-all-cr-categories-link"><span class="cr-triangle-green-link"><span class="cr-triangle-green-link-ind">+</span> 10 категорий</span></a>
                                        </li>
                                    </ul>
                                </div>

                            </td>



                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/stolyarnye_izdeliya/">Столярные изделия</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/stolyarnye_izdeliya/dveri/#dveri">
                                                <div class="cs_name">Двери</div>
                                                <div class="cs_cnt">1107</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/stolyarnye_izdeliya/okonnye_bloki_i_podokonniki/#okonnye_bloki_i_podokonniki">
                                                <div class="cs_name">Окна и подоконники</div>
                                                <div class="cs_cnt">354</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/stolyarnye_izdeliya/lestnitsy/#lestnitsy">
                                                <div class="cs_name">Лестницы</div>
                                                <div class="cs_cnt">435</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/stolyarnye_izdeliya/otdelka_dekorativnymi_panelyami/#otdelka_dekorativnymi_panelyami">
                                                <div class="cs_name">Отделка декоративными панелями</div>
                                                <div class="cs_cnt">425</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/stolyarnye_izdeliya/otdelka_sten_i_potolka_derevom/#otdelka_sten_i_potolka_derevom">
                                                <div class="cs_name">Отделка стен и потолка деревом</div>
                                                <div class="cs_cnt">74</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stolyarnye_izdeliya/otdelka_pola/#otdelka_pola">
                                                <div class="cs_name">Отделка пола</div>
                                                <div class="cs_cnt">25</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stolyarnye_izdeliya/listovye_materialy/#listovye_materialy">
                                                <div class="cs_name">Листовые материалы</div>
                                                <div class="cs_cnt">77</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stolyarnye_izdeliya/pilomaterialy/#pilomaterialy">
                                                <div class="cs_name">Пиломатериалы</div>
                                                <div class="cs_cnt">73</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stolyarnye_izdeliya/otdelochnye_profili/#otdelochnye_profili">
                                                <div class="cs_name">Отделочные профили</div>
                                                <div class="cs_cnt">195</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/stolyarnye_izdeliya/dekorativnye_elementy/#dekorativnye_elementy">
                                                <div class="cs_name">Декоративные элементы</div>
                                                <div class="cs_cnt">131</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/#" class="show-all-cr-categories-link"><span class="cr-triangle-green-link"><span class="cr-triangle-green-link-ind">+</span> 5 категорий</span></a>
                                        </li>
                                    </ul>
                                </div>

                            </td>



                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/elektrotovary/">Электротовары</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/elektrotovary/rozetki_i_vyklyuchateli/#rozetki_i_vyklyuchateli">
                                                <div class="cs_name">Розетки и выключатели</div>
                                                <div class="cs_cnt">1367</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/elektrotovary/kabel_i_montag/#kabel_i_montag">
                                                <div class="cs_name">Кабель и монтаж</div>
                                                <div class="cs_cnt">972</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/elektrotovary/elektricheskie_shchity/#elektricheskie_shchity">
                                                <div class="cs_name">Электрические щиты</div>
                                                <div class="cs_cnt">391</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/elektrotovary/klimaticheskie_sistemy/#klimaticheskie_sistemy">
                                                <div class="cs_name">Климатические системы</div>
                                                <div class="cs_cnt">566</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/elektrotovary/zvonki_i_domofony/#zvonki_i_domofony">
                                                <div class="cs_name">Звонки и домофоны</div>
                                                <div class="cs_cnt">93</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/elektrotovary/sistemy_kontrolya_i_upravleniya/#sistemy_kontrolya_i_upravleniya">
                                                <div class="cs_name">Системы контроля и управления</div>
                                                <div class="cs_cnt">92</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/elektrotovary/antenny/#antenny">
                                                <div class="cs_name">Антенны</div>
                                                <div class="cs_cnt">38</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/elektrotovary/osvetitelnye_pribory/#osvetitelnye_pribory">
                                                <div class="cs_name">Осветительные приборы</div>
                                                <div class="cs_cnt">43</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/elektrotovary/elektricheskie_aksessuary/#elektricheskie_aksessuary">
                                                <div class="cs_name">Электрические аксессуары</div>
                                                <div class="cs_cnt">266</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/elektrotovary/obrabotka_vozduha/#obrabotka_vozduha">
                                                <div class="cs_name">Обработка воздуха</div>
                                                <div class="cs_cnt">6</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/elektrotovary/udliniteli/#udliniteli">
                                                <div class="cs_name">Удлинители</div>
                                                <div class="cs_cnt">178</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/elektrotovary/avtomatika_dlya_vorot/#avtomatika_dlya_vorot">
                                                <div class="cs_name">Автоматика для ворот</div>
                                                <div class="cs_cnt">12</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/elektrotovary/elementy_pitaniya2/#elementy_pitaniya2">
                                                <div class="cs_name">Элементы питания</div>
                                                <div class="cs_cnt">79</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/elektrotovary/transformatory_i_stabilizatory/#transformatory_i_stabilizatory">
                                                <div class="cs_name">Трансформаторы и стабилизаторы</div>
                                                <div class="cs_cnt">34</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/#" class="show-all-cr-categories-link"><span class="cr-triangle-green-link"><span class="cr-triangle-green-link-ind">+</span> 9 категорий</span></a>
                                        </li>
                                    </ul>
                                </div>

                            </td>

                        </tr>
                        <tr class="cr-bottom-space-tr">
                            <td colspan="3"></td>
                        </tr>

                        <tr class="cr-photo-tr">
                            <td data-section-code="instrumenty">
                                <img src="/images/leroy/pic30v1g.jpg" alt="Инструменты">
                            </td>
                            <td data-section-code="napolnye_pokrytiya">
                                <img src="/images/leroy/pic32c1s.jpg" alt="Напольные покрытия">
                            </td>
                            <td data-section-code="plitka">
                                <img src="/images/leroy/pic33d1y.jpg" alt="Плитка">
                            </td>
                        </tr>
                        <tr class="cr-middle-space-tr">
                            <td colspan="3"></td>
                        </tr>
                        <tr class="cr-desc-tr">

                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/instrumenty/">Инструменты</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/elektroinstrument/#elektroinstrument">
                                                <div class="cs_name">Электроинструмент</div>
                                                <div class="cs_cnt">265</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/aksessuary_dlya_elektroinstrumenta/#aksessuary_dlya_elektroinstrumenta">
                                                <div class="cs_name">Аксессуары для электроинструмента</div>
                                                <div class="cs_cnt">1278</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/organizatsiya_rabochego_mesta/#organizatsiya_rabochego_mesta">
                                                <div class="cs_name">Организация рабочего места</div>
                                                <div class="cs_cnt">146</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/oborudovanie_dlya_masterskoy/#oborudovanie_dlya_masterskoy">
                                                <div class="cs_name">Оборудование для мастерской</div>
                                                <div class="cs_cnt">350</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/rashodnye_materialy_2/#rashodnye_materialy_2">
                                                <div class="cs_name">Расходные материалы</div>
                                                <div class="cs_cnt">86</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/gaechnye_klyuchi_i_otvertki/#gaechnye_klyuchi_i_otvertki">
                                                <div class="cs_name">Гаечные ключи и отвертки</div>
                                                <div class="cs_cnt">447</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/derevoobrabatyvayushchiy_instrument/#derevoobrabatyvayushchiy_instrument">
                                                <div class="cs_name">Деревообрабатывающий инструмент</div>
                                                <div class="cs_cnt">72</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/metalloobrabatyvayushchiy_instrument/#metalloobrabatyvayushchiy_instrument">
                                                <div class="cs_name">Металлообрабатывающий инструмент</div>
                                                <div class="cs_cnt">17</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/slesarno_montagnyy_instrument/#slesarno_montagnyy_instrument">
                                                <div class="cs_name">Слесарно-монтажный инструмент</div>
                                                <div class="cs_cnt">99</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/fiksiruyushchiy_instrument/#fiksiruyushchiy_instrument">
                                                <div class="cs_name">Фиксирующий инструмент</div>
                                                <div class="cs_cnt">112</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/molotki_kiyanki_kuvaldy/#molotki_kiyanki_kuvaldy">
                                                <div class="cs_name">Молотки, киянки, кувалды</div>
                                                <div class="cs_cnt">70</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/izmeritelno_razmetochnyy_instrument/#izmeritelno_razmetochnyy_instrument">
                                                <div class="cs_name">Измерительно-разметочный инструмент</div>
                                                <div class="cs_cnt">105</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/spetsializirovannyy_instrument/#spetsializirovannyy_instrument">
                                                <div class="cs_name">Спец. инструмент</div>
                                                <div class="cs_cnt">250</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/pistolety/#pistolety">
                                                <div class="cs_name">Пистолеты</div>
                                                <div class="cs_cnt">6</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/instrumenty/hozyaystvennyy_instrument/#hozyaystvennyy_instrument">
                                                <div class="cs_name">Хозяйственный инструмент</div>
                                                <div class="cs_cnt">59</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/#" class="show-all-cr-categories-link"><span class="cr-triangle-green-link"><span class="cr-triangle-green-link-ind">+</span> 10 категорий</span></a>
                                        </li>
                                    </ul>
                                </div>

                            </td>



                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/napolnye_pokrytiya/">Напольные покрытия</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/napolnye_pokrytiya/laminat_parket_massiv_probka/#laminat_parket_massiv_probka">
                                                <div class="cs_name">Ламинат, паркет, массив, пробка</div>
                                                <div class="cs_cnt">279</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/napolnye_pokrytiya/kovry_i_kovriki/#kovry_i_kovriki">
                                                <div class="cs_name">Ковры и коврики</div>
                                                <div class="cs_cnt">780</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/napolnye_pokrytiya/plintusy_porogi_i_aksessuary/#plintusy_porogi_i_aksessuary">
                                                <div class="cs_name">Плинтусы, пороги и аксессуары</div>
                                                <div class="cs_cnt">514</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/napolnye_pokrytiya/sredstva_po_remontu_i_uhodu/#sredstva_po_remontu_i_uhodu">
                                                <div class="cs_name">Средства по ремонту и уходу</div>
                                                <div class="cs_cnt">25</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/napolnye_pokrytiya/podlozhka_i_sredstva_dlya_ukladki/#podlozhka_i_sredstva_dlya_ukladki">
                                                <div class="cs_name">Подложка и средства для укладки</div>
                                                <div class="cs_cnt">75</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/napolnye_pokrytiya/linoleum_kovrolin_kovrovye_dorozhki/#linoleum_kovrolin_kovrovye_dorozhki">
                                                <div class="cs_name">Линолеум, ковролин, ковровые дорожки</div>
                                                <div class="cs_cnt">423</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/#" class="show-all-cr-categories-link"><span class="cr-triangle-green-link"><span class="cr-triangle-green-link-ind">+</span> 1 категория</span></a>
                                        </li>
                                    </ul>
                                </div>

                            </td>



                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/plitka/">Плитка</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/plitka/plitka_kamen_mozaika/#plitka_kamen_mozaika">
                                                <div class="cs_name">Плитка, камень, мозаика</div>
                                                <div class="cs_cnt">1201</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/plitka/zatirki_i_dobavki/#zatirki_i_dobavki">
                                                <div class="cs_name">Затирки и добавки</div>
                                                <div class="cs_cnt">103</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/plitka/klei_dlya_ukladki/#klei_dlya_ukladki">
                                                <div class="cs_name">Клеи для укладки</div>
                                                <div class="cs_cnt">39</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/plitka/podgotovka_osnovaniya/#podgotovka_osnovaniya">
                                                <div class="cs_name">Подготовка основания</div>
                                                <div class="cs_cnt">13</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/plitka/aksessuary/#aksessuary">
                                                <div class="cs_name">Аксессуары</div>
                                                <div class="cs_cnt">166</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </td>

                        </tr>
                        <tr class="cr-bottom-space-tr">
                            <td colspan="3"></td>
                        </tr>

                        <tr class="cr-photo-tr">
                            <td data-section-code="santehnika">
                                <img src="/images/leroy/vannau1l.png" alt="Сантехника">
                            </td>
                            <td data-section-code="vodosnabgenie">
                                <img src="/images/leroy/pic40q1a.jpg" alt="Водоснабжение">
                            </td>
                            <td data-section-code="sad">
                                <img src="/images/leroy/pic35e1k.jpg" alt="Сад">
                            </td>
                        </tr>
                        <tr class="cr-middle-space-tr">
                            <td colspan="3"></td>
                        </tr>
                        <tr class="cr-desc-tr">

                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/santehnika/">Сантехника</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/santehnika/vanny2/#vanny2">
                                                <div class="cs_name">Ванны</div>
                                                <div class="cs_cnt">238</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/santehnika/dushevye_kabiny/#dushevye_kabiny">
                                                <div class="cs_name">Душевые кабины</div>
                                                <div class="cs_cnt">145</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/santehnika/aksessuary5/#aksessuary5">
                                                <div class="cs_name">Аксессуары</div>
                                                <div class="cs_cnt">938</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/santehnika/mebel_dlya_vannoy_komnaty/#mebel_dlya_vannoy_komnaty">
                                                <div class="cs_name">Мебель для ванной комнаты</div>
                                                <div class="cs_cnt">350</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/santehnika/smesiteli/#smesiteli">
                                                <div class="cs_name">Смесители</div>
                                                <div class="cs_cnt">300</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/santehnika/santehnicheskiy_fayans/#santehnicheskiy_fayans">
                                                <div class="cs_name">Санфаянс</div>
                                                <div class="cs_cnt">130</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/santehnika/zerkala/#zerkala">
                                                <div class="cs_name">Зеркала</div>
                                                <div class="cs_cnt">98</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/santehnika/dushevoe_oborudovanie/#dushevoe_oborudovanie">
                                                <div class="cs_name">Душевое оборудование</div>
                                                <div class="cs_cnt">212</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/santehnika/kovriki_shtorki_korziny/#kovriki_shtorki_korziny">
                                                <div class="cs_name">Коврики, шторки, корзины</div>
                                                <div class="cs_cnt">453</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/santehnika/sauna/#sauna">
                                                <div class="cs_name">Сауна</div>
                                                <div class="cs_cnt">177</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/santehnika/sushilki_dlya_belya/#sushilki_dlya_belya">
                                                <div class="cs_name">Сушилки для белья</div>
                                                <div class="cs_cnt">42</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/santehnika/biotualety/#biotualety">
                                                <div class="cs_name">Биотуалеты</div>
                                                <div class="cs_cnt">16</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/#" class="show-all-cr-categories-link"><span class="cr-triangle-green-link"><span class="cr-triangle-green-link-ind">+</span> 7 категорий</span></a>
                                        </li>
                                    </ul>
                                </div>

                            </td>



                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/vodosnabgenie/">Водоснабжение</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/vodonagrevateli/#vodonagrevateli">
                                                <div class="cs_name">Водонагреватели</div>
                                                <div class="cs_cnt">123</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/radiatory/#radiatory">
                                                <div class="cs_name">Радиаторы</div>
                                                <div class="cs_cnt">210</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/polotentsesushiteli/#polotentsesushiteli">
                                                <div class="cs_name">Полотенцесушители</div>
                                                <div class="cs_cnt">136</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/filtry_dlya_pitevoy_vody/#filtry_dlya_pitevoy_vody">
                                                <div class="cs_name">Фильтры для питьевой воды</div>
                                                <div class="cs_cnt">61</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/kotly_i_otopiteli/#kotly_i_otopiteli">
                                                <div class="cs_name">Котлы и отопители</div>
                                                <div class="cs_cnt">123</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/truboprovod/#truboprovod">
                                                <div class="cs_name">Трубопровод</div>
                                                <div class="cs_cnt">1257</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/vodootvedenie/#vodootvedenie">
                                                <div class="cs_name">Водоотведение</div>
                                                <div class="cs_cnt">324</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/dispensery_dlya_butilirovannoy_vody/#dispensery_dlya_butilirovannoy_vody">
                                                <div class="cs_name">Диспенсеры для бутилированной воды</div>
                                                <div class="cs_cnt">6</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/vstraivaemye_filtry/#vstraivaemye_filtry">
                                                <div class="cs_name">Встраиваемые фильтры</div>
                                                <div class="cs_cnt">58</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/nasosy/#nasosy">
                                                <div class="cs_name">Насосы</div>
                                                <div class="cs_cnt">39</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/aksessuary_dlya_filtrov/#aksessuary_dlya_filtrov">
                                                <div class="cs_name">Аксессуары для фильтров</div>
                                                <div class="cs_cnt">164</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/teplonositeli_dlya_sistem_otopleniya/#teplonositeli_dlya_sistem_otopleniya">
                                                <div class="cs_name">Теплоносители для систем отопления</div>
                                                <div class="cs_cnt">15</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/filtry_gruboy_ochistki/#filtry_gruboy_ochistki">
                                                <div class="cs_name">Фильтры грубой очистки</div>
                                                <div class="cs_cnt">11</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/instrument_i_aksessuary/#instrument_i_aksessuary">
                                                <div class="cs_name">Инструмент и аксессуары</div>
                                                <div class="cs_cnt">52</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/vodosnabgenie/tyeplyy_vodyanoy_pol/#tyeplyy_vodyanoy_pol">
                                                <div class="cs_name">Тёплый водяной пол</div>
                                                <div class="cs_cnt">34</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/#" class="show-all-cr-categories-link"><span class="cr-triangle-green-link"><span class="cr-triangle-green-link-ind">+</span> 10 категорий</span></a>
                                        </li>
                                    </ul>
                                </div>

                            </td>



                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/sad/">Сад</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/sad/sadovaya_mototekhnika/#sadovaya_mototekhnika">
                                                <div class="cs_name">Садовая мототехника</div>
                                                <div class="cs_cnt">155</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/sad/sadovaya_mebel/#sadovaya_mebel">
                                                <div class="cs_name">Садовая мебель</div>
                                                <div class="cs_cnt">170</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/sad/nasosy_i_aksessuary/#nasosy_i_aksessuary">
                                                <div class="cs_name">Насосы и аксессуары</div>
                                                <div class="cs_cnt">133</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/sad/tovary_dlya_poliva/#tovary_dlya_poliva">
                                                <div class="cs_name">Товары для полива</div>
                                                <div class="cs_cnt">373</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/sad/rasteniya_rassada_semena_travy/#rasteniya_rassada_semena_travy">
                                                <div class="cs_name">Растения, рассада, семена, травы</div>
                                                <div class="cs_cnt">3284</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/sad/ukhod_za_rasteniyami_aksessuary/#ukhod_za_rasteniyami_aksessuary">
                                                <div class="cs_name">Уход за растениями, аксессуары</div>
                                                <div class="cs_cnt">774</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/sad/sadovye_ogragdeniya/#sadovye_ogragdeniya">
                                                <div class="cs_name">Садовые ограждения</div>
                                                <div class="cs_cnt">165</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/sad/vse_dlya_otdykha/#vse_dlya_otdykha">
                                                <div class="cs_name">Все для отдыха</div>
                                                <div class="cs_cnt">136</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/sad/aksessuary_dlya_tehniki/#aksessuary_dlya_tehniki">
                                                <div class="cs_name">Аксессуары для техники</div>
                                                <div class="cs_cnt">194</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/sad/obustroystvo_sada/#obustroystvo_sada">
                                                <div class="cs_name">Обустройство сада</div>
                                                <div class="cs_cnt">114</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/sad/tsvetochnye_gorshki_balkonnye_yashchiki_aksessuary/#tsvetochnye_gorshki_balkonnye_yashchiki_aksessuary">
                                                <div class="cs_name">Цветочные горшки, балконные ящики, аксессуары</div>
                                                <div class="cs_cnt">663</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/sad/sadovyy_inventar/#sadovyy_inventar">
                                                <div class="cs_name">Садовый инвентарь</div>
                                                <div class="cs_cnt">431</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/sad/tovary_dlya_uborki_snega/#tovary_dlya_uborki_snega">
                                                <div class="cs_name">Товары для уборки снега</div>
                                                <div class="cs_cnt">11</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/#" class="show-all-cr-categories-link"><span class="cr-triangle-green-link"><span class="cr-triangle-green-link-ind">+</span> 8 категорий</span></a>
                                        </li>
                                    </ul>
                                </div>

                            </td>

                        </tr>
                        <tr class="cr-bottom-space-tr">
                            <td colspan="3"></td>
                        </tr>

                        <tr class="cr-photo-tr">
                            <td data-section-code="skobyanye_izdeliya">
                                <img src="/images/leroy/pic36n1f.jpg" alt="Скобяные изделия">
                            </td>
                            <td data-section-code="kraski">
                                <img src="/images/leroy/pic37o1h.jpg" alt="Краски">
                            </td>
                            <td data-section-code="dekor">
                                <img src="/images/leroy/wtoriu1i.png" alt="Декор">
                            </td>
                        </tr>
                        <tr class="cr-middle-space-tr">
                            <td colspan="3"></td>
                        </tr>
                        <tr class="cr-desc-tr">

                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/skobyanye_izdeliya/">Скобяные изделия</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/skobyanye_izdeliya/dvernye_ruchki/#dvernye_ruchki">
                                                <div class="cs_name">Дверные ручки</div>
                                                <div class="cs_cnt">635</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/skobyanye_izdeliya/zamki_komplektuyushchie_i_aksessuary/#zamki_komplektuyushchie_i_aksessuary">
                                                <div class="cs_name">Замки, комплектующие и аксессуары</div>
                                                <div class="cs_cnt">430</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/skobyanye_izdeliya/pochtovye_yashchiki_dekorativnye_elementy/#pochtovye_yashchiki_dekorativnye_elementy">
                                                <div class="cs_name">Почтовые ящики, декоративные элементы</div>
                                                <div class="cs_cnt">45</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/skobyanye_izdeliya/seyfy_i_yashchiki/#seyfy_i_yashchiki">
                                                <div class="cs_name">Сейфы и ящики</div>
                                                <div class="cs_cnt">96</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/skobyanye_izdeliya/krepeg/#krepeg">
                                                <div class="cs_name">Крепеж</div>
                                                <div class="cs_cnt">2003</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/skobyanye_izdeliya/mebelnaya_furnitura/#mebelnaya_furnitura">
                                                <div class="cs_name">Мебельная фурнитура</div>
                                                <div class="cs_cnt">1600</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/skobyanye_izdeliya/kovka/#kovka">
                                                <div class="cs_name">Ковка</div>
                                                <div class="cs_cnt">96</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/skobyanye_izdeliya/dvernaya_furnitura/#dvernaya_furnitura">
                                                <div class="cs_name">Дверная фурнитура</div>
                                                <div class="cs_cnt">453</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/skobyanye_izdeliya/furnitura_i_mehanizmy_dlya_okna/#furnitura_i_mehanizmy_dlya_okna">
                                                <div class="cs_name">Фурнитура и механизмы для окна</div>
                                                <div class="cs_cnt">64</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/skobyanye_izdeliya/furnitura_dlya_zdaniy_i_vorot/#furnitura_dlya_zdaniy_i_vorot">
                                                <div class="cs_name">Фурнитура для зданий и ворот</div>
                                                <div class="cs_cnt">744</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/skobyanye_izdeliya/takelag/#takelag">
                                                <div class="cs_name">Такелаж</div>
                                                <div class="cs_cnt">339</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/skobyanye_izdeliya/tovary_dlya_detskoy_bezopasnosti/#tovary_dlya_detskoy_bezopasnosti">
                                                <div class="cs_name">Товары безопасности</div>
                                                <div class="cs_cnt">70</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/#" class="show-all-cr-categories-link"><span class="cr-triangle-green-link"><span class="cr-triangle-green-link-ind">+</span> 7 категорий</span></a>
                                        </li>
                                    </ul>
                                </div>

                            </td>



                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/kraski/">Краски</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/kraski/kraski_dlya_vnutrennih_rabot/#kraski_dlya_vnutrennih_rabot">
                                                <div class="cs_name">Краски для внутренних работ</div>
                                                <div class="cs_cnt">545</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/kraski/emali/#emali">
                                                <div class="cs_name">Эмали</div>
                                                <div class="cs_cnt">555</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/kraski/kraski_dlya_narugnyh_rabot/#kraski_dlya_narugnyh_rabot">
                                                <div class="cs_name">Краски для наружных работ</div>
                                                <div class="cs_cnt">57</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/kraski/izolyatsiya/#izolyatsiya">
                                                <div class="cs_name">Изоляция</div>
                                                <div class="cs_cnt">87</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/kraski/podgotovka_poverhnosti/#podgotovka_poverhnosti">
                                                <div class="cs_name">Подготовка поверхности</div>
                                                <div class="cs_cnt">184</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/kraski/instrumenty_dlya_pokraski/#instrumenty_dlya_pokraski">
                                                <div class="cs_name">Инструменты для покраски</div>
                                                <div class="cs_cnt">167</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/kraski/klei/#klei">
                                                <div class="cs_name">Клеи, клейкие ленты</div>
                                                <div class="cs_cnt">119</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/kraski/uborka/#uborka">
                                                <div class="cs_name">Уборка</div>
                                                <div class="cs_cnt">137</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/kraski/pokrytiya_dlya_dereva/#pokrytiya_dlya_dereva">
                                                <div class="cs_name">Покрытия для дерева</div>
                                                <div class="cs_cnt">349</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/#" class="show-all-cr-categories-link"><span class="cr-triangle-green-link"><span class="cr-triangle-green-link-ind">+</span> 4 категории</span></a>
                                        </li>
                                    </ul>
                                </div>

                            </td>



                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/dekor/">Декор</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/dekor/oboi_i_klei/#oboi_i_klei">
                                                <div class="cs_name">Обои и клеи</div>
                                                <div class="cs_cnt">2187</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/dekor/karnizy2/#karnizy2">
                                                <div class="cs_name">Карнизы</div>
                                                <div class="cs_cnt">724</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/dekor/tkani_shtory/#tkani_shtory">
                                                <div class="cs_name">Ткани, Шторы</div>
                                                <div class="cs_cnt">1322</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/dekor/aksessuary_dlya_doma/#aksessuary_dlya_doma">
                                                <div class="cs_name">Аксессуары для дома</div>
                                                <div class="cs_cnt">278</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/dekor/dekor_potolka_/#dekor_potolka_">
                                                <div class="cs_name">Декор потолка </div>
                                                <div class="cs_cnt">176</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/dekor/dekor_sten/#dekor_sten">
                                                <div class="cs_name">Декор стен</div>
                                                <div class="cs_cnt">965</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/dekor/zhalyuzi_rulonnye_shtory/#zhalyuzi_rulonnye_shtory">
                                                <div class="cs_name">Жалюзи, рулонные шторы</div>
                                                <div class="cs_cnt">1004</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/#" class="show-all-cr-categories-link"><span class="cr-triangle-green-link"><span class="cr-triangle-green-link-ind">+</span> 2 категории</span></a>
                                        </li>
                                    </ul>
                                </div>

                            </td>

                        </tr>
                        <tr class="cr-bottom-space-tr">
                            <td colspan="3"></td>
                        </tr>

                        <tr class="cr-photo-tr">
                            <td data-section-code="osveshchenie">
                                <img src="/images/leroy/pic31y1z.jpg" alt="Освещение">
                            </td>
                            <td data-section-code="hranenie">
                                <img src="/images/leroy/pic41q1c.jpg" alt="Хранение">
                            </td>
                            <td data-section-code="kuhni">
                                <img src="/images/leroy/pic39b1i.jpg" alt="Кухни">
                            </td>
                        </tr>
                        <tr class="cr-middle-space-tr">
                            <td colspan="3"></td>
                        </tr>
                        <tr class="cr-desc-tr">

                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/osveshchenie/">Освещение</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/osveshchenie/osveshchenie_dlya_pomeshcheniy_i_aksessuary/#osveshchenie_dlya_pomeshcheniy_i_aksessuary">
                                                <div class="cs_name">Освещение для помещений и аксессуары</div>
                                                <div class="cs_cnt">1871</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/osveshchenie/sadovo_parkovoe_osveshchenie/#sadovo_parkovoe_osveshchenie">
                                                <div class="cs_name">Садово-парковое освещение</div>
                                                <div class="cs_cnt">175</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/osveshchenie/lampochki/#lampochki">
                                                <div class="cs_name">Лампочки</div>
                                                <div class="cs_cnt">538</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </td>



                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/hranenie/">Хранение</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/hranenie/stellagi/#stellagi">
                                                <div class="cs_name">Стеллажи</div>
                                                <div class="cs_cnt">65</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/hranenie/emkosti_dlya_hraneniya2/#emkosti_dlya_hraneniya2">
                                                <div class="cs_name">Емкости для хранения</div>
                                                <div class="cs_cnt">210</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/hranenie/polki_i_krepleniya/#polki_i_krepleniya">
                                                <div class="cs_name">Полки и крепления</div>
                                                <div class="cs_cnt">336</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/hranenie/mebelnye_shchity_i_paneli/#mebelnye_shchity_i_paneli">
                                                <div class="cs_name">Мебельные щиты и панели</div>
                                                <div class="cs_cnt">403</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/hranenie/mebelnye_fasady_i_dveri/#mebelnye_fasady_i_dveri">
                                                <div class="cs_name">Мебельные фасады и двери</div>
                                                <div class="cs_cnt">281</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/hranenie/sistemy_hraneniya/#sistemy_hraneniya">
                                                <div class="cs_name">Системы хранения</div>
                                                <div class="cs_cnt">195</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/hranenie/veshalki_obuvnitsy_etazherki/#veshalki_obuvnitsy_etazherki">
                                                <div class="cs_name">Вешалки, обувницы, этажерки</div>
                                                <div class="cs_cnt">79</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/hranenie/aksessuary_dlya_shkafa/#aksessuary_dlya_shkafa">
                                                <div class="cs_name">Аксессуары для шкафа</div>
                                                <div class="cs_cnt">85</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/#" class="show-all-cr-categories-link"><span class="cr-triangle-green-link"><span class="cr-triangle-green-link-ind">+</span> 3 категории</span></a>
                                        </li>
                                    </ul>
                                </div>

                            </td>



                            <td>
                                <div class="cr-section-desc">
                                    <div class="cr-section-title"><a href="https://leroymerlin.ru/catalogue/kuhni/">Кухни</a></div>
                                    <ul class="cr-section-categories">
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/kuhni/mebel_dlya_kuhni/#mebel_dlya_kuhni">
                                                <div class="cs_name">Мебель для кухни</div>
                                                <div class="cs_cnt">696</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/kuhni/stoleshnitsy/#stoleshnitsy">
                                                <div class="cs_name">Столешницы</div>
                                                <div class="cs_cnt">127</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/kuhni/stenovye_paneli/#stenovye_paneli">
                                                <div class="cs_name">Стеновые панели</div>
                                                <div class="cs_cnt">46</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/kuhni/moyki-i-smesiteli/#moyki-i-smesiteli">
                                                <div class="cs_name">Мойки и смесители</div>
                                                <div class="cs_cnt">162</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/kuhni/bytovaya-tehnika/#bytovaya-tehnika">
                                                <div class="cs_name">Бытовая техника</div>
                                                <div class="cs_cnt">70</div>
                                            </a>
                                        </li>
                                        <li style="display: none;">
                                            <a href="https://leroymerlin.ru/catalogue/kuhni/kuhonnye-aksessuary/#kuhonnye-aksessuary">
                                                <div class="cs_name">Кухонные аксессуары</div>
                                                <div class="cs_cnt">310</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://leroymerlin.ru/catalogue/#" class="show-all-cr-categories-link"><span class="cr-triangle-green-link"><span class="cr-triangle-green-link-ind">+</span> 1 категория</span></a>
                                        </li>
                                    </ul>
                                </div>

                            </td>

                        </tr>
                        <tr class="cr-bottom-space-tr">
                            <td colspan="3"></td>
                        </tr>

                    </tbody>
                </table>
                <div class="seo-block-container"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>