<div class="register">
    <div class="container">
        <h1>Регистрация</h1>

        <div class="form">
            <form action="" class="clearfix">
                <div>
                    <label for="">Имя</label>
                    <input type="text" required>
                </div>
                <div>
                    <label for="">Фамилия</label>
                    <input type="text" required>
                </div>
                <div>
                    <label for="">Телефон</label>
                    <input type="phone" required>
                </div>
                <div>
                    <label for="">Адрес</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Пароль</label>
                    <input type="password" required>
                </div>
                <div>
                    <label for="">E-mail</label>
                    <input type="text" required>
                </div>
                <div>
                    <label for="">Повторите пароль</label>
                    <input type="password" required>
                </div>
                <div class="submit">
                    <input type="submit" value="Зарегистрироваться">
                </div>
            </form>
            <div class="error">Ошибка при регистрации. Пароли не совпадают</div>
        </div>

    </div>
</div>