    <link rel="stylesheet" href="/stylesheets/jquery.jqzoom.css">
    <link rel="stylesheet" href="/sass/item.css">
       <div class="mmain">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="https://max.kg/">Главная</a></li>
                <li><a href="https://max.kg/catalog/avto">Авто</a></li>
                <li><a href="https://max.kg/catalog/avto/avtozapchasti">Автозапчасти</a></li>
                <li><a href="https://max.kg/catalog/avto/avtozapchasti/tormoznaya-sistema">Тормозная система</a></li>
                <li><a href="https://max.kg/catalog/avto/avtozapchasti/tormoznaya-sistema/tormoznye-kolodki">Тормозные колодки</a></li>
            </ul>
            <div class="window_flow_center" id="window_box1">
                <div class="closer" onclick="return window_boxoff(this);"></div>
                <div id="window_box_text1">

                </div>
            </div>
            <div class="clear"></div>
            <div class="inaim">
                <h1 class="nametovar" id="name_1737688"> Колодки тормозные KONSTEIN 5611500 </h1>
            </div>

            <br>
            <div class="product">
                <div class="product_left">
                    <style type "text=" " css"="">








                        .clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden;} .clearfix{display:block;zoom:1}
                        ul#thumblist{display:block;} ul#thumblist li{float:left;margin-right:2px;list-style:none;} ul#thumblist
                        li a{display:block;border:1px solid #CCC;} ul#thumblist li a.zoomThumbActive{ border:1px solid red;
                        } .jqzoom{ text-decoration:none; float:left; }





                    </style>



                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.jqzoom').jqzoom({
                                zoomType: 'standard',
                                lens: true,
                                preloadImages: false,
                                alwaysOn: false,
                                zoomWidth: 600,
                                zoomHeight: 500,
                                xOffset: 20,
                                yOffset: 0,
                                position: 'right',
                            });

                        });
                    </script>



                    <div class="clearfix" id="content" style="margin-top:0px;margin-left:0px;">


                        <div class="clearfix" style="margin-top:0px;margin-left:0px;">



                            <a href="/images/max/700-nw.jpg" class="jqzoom" rel="gal1" title="" style="outline-style: none; text-decoration: none;">
                                <div class="zoomPad"><img id="img_1737688" class="one_img" src="/images/max/700-nw.jpg" title="Колодки тормозные KONSTEIN 5611500"
                                        style="border: 0px solid rgb(102, 102, 102); opacity: 1;">
                                    <div class="zoomPup" style="top: -1px; left: 71px; width: 428px; height: 357px; position: absolute; border-width: 1px; display: none;"></div>
                                    <div class="zoomWindow" style="position: absolute; z-index: 5001; left: 520px; top: 0px; display: none;">
                                        <div class="zoomWrapper" style="width: 600px;">
                                            <div class="zoomWrapperTitle" style="width: 100%; position: absolute; display: block;">zoom</div>
                                            <div class="zoomWrapperImage" style="width: 100%; height: 500px;"><img src="/images/max/700-nw.jpg" style="position: absolute; border: 0px; display: block; left: -100.8px; top: 0px;"></div>
                                        </div>
                                    </div>
                                    <div class="zoomPreload" style="visibility: hidden; top: 237.5px; left: 214px; position: absolute;">Loading zoom</div>
                                </div>
                            </a>


                        </div>

                        <br>
                        <br>





                        <div class="clearfix" style="margin-top:0px;margin-left:0px;">
                            <ul id="thumblist" class="clearfix" style="padding:0px;">



                                <li><a class="zoomThumbActive" href="javascript:void(0);" rel="{gallery: &#39;gal1&#39;, smallimage: &#39;https://cdn.sima-land.ru/items/1448099/0/700-nw.jpg&#39;,largeimage: &#39;https://cdn.sima-land.ru/items/1448099/0/700-nw.jpg&#39;}"><img title="Колодки тормозные KONSTEIN 5611500" src="/images/max/140.jpg"></a></li>


                            </ul>
                            <div class="clear"></div>
                        </div>


                    </div>
                    <div class="clear"></div>

                    <br><br>
                    <div class="fb-comments fb_iframe_widget" data-href="https://max.kg/item/1737688/kolodki-tormoznye-konstein-5611500" data-numposts="5"
                        fb-xfbml-state="rendered"><span style="height: 184px; width: 550px;"><iframe id="f2ace100ef533fc" name="f4237c18cdfe54" scrolling="no" title="Facebook Social Plugin" class="fb_ltr" src="/images/max/comments.html" style="border: none; overflow: hidden; height: 184px; width: 550px;"></iframe></span></div>




                </div>
                <div class="product_right">
                    <div id="art_1737688" class="product_art"><span class="product_art1">Код товара: </span><span class="product_art2">1737688</span> </div>
                    <div class="product_izb"><a href="https://max.kg/izb"><span class="izb1" id="iz_1737688" onclick="return izb(this);">В избранное</span></a></div>
                    <div class="table_item">
                        <div class="table_row1_product">

                            <div class="cell1">
                                <span class="cena1_bold"><span class="cena1">Цена:   </span></span><span class="tcena">741.21 с.</span>                                <br>
                                <span class="dost_credit">В кредит при заказе от <span class="blue_bold">5000 сом</span></span><br>                                </div>

                            <div class="cell2">
                                <span class="uch_dos">Цена указана с учетом доставки до склада в г.Бишкек, ул. Байтик Баатыра, 3/2</span>
                            </div>
                            <div class="clear"></div>



                            <div class="box_row">
                                <div class="box1_one">Минимальное
                                    <div class="">количество: по 1</div>
                                </div>
                                <div onclick="kol(this);" id="m_1737688" class="minus1"></div>
                                <div class="vall"><input value="" data-sum="741.21" data-pack="1" data-sklad="1" data-kol="1" onblur="valid(this);"
                                        id="i_1737688" type="text"></div>
                                <div onclick="kol(this);" id="p_1737688" class="plus1"></div>
                                <div class="kolbox"><a href="https://max.kg/"><span class="kolbox1_product" id="1737688" onclick="return box(this);">В корзину</span></a></div>
                                <div class="clear"></div>
                            </div>





                        </div>

                        <div class="table_row1">

                            <div class="cell3 cell3_1">
                                Наличие:
                                <span class="art_blue">под заказ, </span><span class="art_black">доставим: 5 - 10 июля</span>
                            </div>

                            <!--<div class="cell3 cell3_2">-->
                            <!--</div>-->

                            <!--<div class="cell3 cell3_3">-->

                            <!--</div>-->
                            <div class="clear"></div>
                        </div>



                        <!--<div class="cell4">-->

                        <!--</div>-->

                        <div class="cell5">
                            <a href="https://max.kg/opl">Оплата: наличными, перечислением, elsom, mobilnik.kg</a>
                        </div>

                        <div class="cell6">
                            Предоплата: 370.60 сом, оплата при получении: 370.60 сом.
                        </div>




                        <div class="table_row1">
                            <div class="cell7 cell7_1">
                                Доставка:
                            </div>

                            <div class="cell7 cell7_22 ">
                                <a href="https://max.kg/dost"><span onclick="return window_pogorodu(this);" class="pogorodu">по городу бесплатно*</span></a>
                            </div>

                            <div class="cell7 cell7_2">
                                <a href="https://max.kg/dost"><span class="per">по регионам</span></a>

                            </div>


                            <div class="cell7 cell7_3">
                                <a href="https://max.kg/dost"><span class="per">самовывоз</span></a>

                            </div>

                            <div class="clear"></div>
                        </div>









                        <div class="clear"></div>






                    </div>


                    <div class="clear"></div>


                    <br><br>
                    <div class="right_like">


                        <div class="fb-like fb_iframe_widget" data-href="https://max.kg/item/1737688/kolodki-tormoznye-konstein-5611500" data-layout="standard"
                            data-action="like" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=686351424874204&amp;container_width=589&amp;href=https%3A%2F%2Fmax.kg%2Fitem%2F1737688%2Fkolodki-tormoznye-konstein-5611500&amp;layout=standard&amp;locale=ru_RU&amp;sdk=joey&amp;show_faces=true"><span style="vertical-align: bottom; width: 450px; height: 20px;"><iframe name="f1a45b164c15c18" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="/images/max/like.html" style="border: none; visibility: visible; width: 450px; height: 20px;" class=""></iframe></span></div>
                    </div>

                    <h2>Характеристики</h2><span class="naim1"><span class="naim2">Торговая марка </span></span>Konstein<br>
                    <span class="naim1"><span class="naim2">Страна </span></span>Китай<br>
                    <span class="naim1"><span class="naim2">Размер </span></span>17 см × 9 см × 9 см<br><span class="naim1"><span class="naim2">Вес </span></span>1.35
                    кг.
                    <br><span class="naim1"><span class="naim2">Количество </span></span>В России <span class="per">1</span><br>
                    <span class="naim1"><span class="naim2">Сертификат </span></span>ЕАС<br>
                    <br>
                    <div class="clear"></div>

                    <div class="gr">
                        Поделись с друзьями.
                        <br>
                        <!-- Go to www.addthis.com/dashboard to customize your tools 
                        <script type="text/javascript" src="img/max/addthis_widget.js"></script>-->
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div class="addthis_inline_share_toolbox"></div>

                    </div>
                    <div class="clear"></div>


                    <h2>Описание</h2>
                    <p> Не секрет, что машина давно уже перестала восприниматься как просто средство передвижения, и водители
                        покупают всё лучшее для своих железных коней. Колодки тормозные KONSTEIN 5611500 — идеальный выбор,
                        если вы ставите целью и улучшение технических характеристик, и поддержание внешнего вида автомобиля.
                    </p><br><br><span class="gropis">Страна производства может отличаться в зависимости от партии поставки.</span><br><br>
                    <span class="gropis">Производитель оставляет за собой право изменять внешний вид, комплектацию товара без предупреждения.</span>
                </div>
            </div>
        </div>
    </div>